@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xfbnr6');
  src:  url('fonts/icomoon.eot?xfbnr6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xfbnr6') format('truetype'),
    url('fonts/icomoon.woff?xfbnr6') format('woff'),
    url('fonts/icomoon.svg?xfbnr6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessibility:before {
  content: "\e900";
}
.icon-careers:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-how:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-sign-up:before {
  content: "\e905";
}
.icon-textsize:before {
  content: "\e906";
}
.icon-what:before {
  content: "\e907";
}
.icon-who:before {
  content: "\e908";
}
