/***********************
DEFINE CUSTOM PROPERTIES
************************/
:root {
	/* colors */
	--main-color: #247C86;
	--second-color: #007B67;
	--third-color: #37394B;
	--light-color: #fff;
	--main-text-color: #fff;
	--dark-text-color: #1A1A1A;
	--border-color: #E1E1E2;
	--field-bg-color: #FCFCFC;
	--field-hover-bg-color: #F4F4F5;
	/* font weights */
	--font-weight-book: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	/* sizing */
	--screen-sm: 576px;
	--screen-md: 768px;
	--screen-lg: 992px;
	--screen-xl: 1200px;
	--screen-xxl: 1400px;
	--space-6: 12px;
	--space-7: 15px;
	--space-8: 18px;
	--space-9: 20px;
	--space-10: 24px;
	--space-12: 30px;
	--space-14: 40px;
	--border-radius: 12px;
}

/******************
GLOBAL CSS RESETS
*******************/

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	background-color: var(--main-color);
	color: var(--main-text-color);
	font-family: "Gibson", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.2;
}

/* Make headings normal font weight to allow for bold highlight */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/***********************
SING-UP PROTOTYPE STYLES
************************/

/* Helper classes */
.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.w-100 {
	width: 100%;
}

/* Typography */
strong {
	font-weight: var(--font-weight-semibold);
}

.text-light {
	font-weight: var(--font-weight-book);
}

/* Layout */
.container {
	margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--space-12) / 2);
	padding-right: calc(var(--space-12) / 2);
	width: 100%;
}
@media (min-width: 768px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.row {
	display: flex;
	flex-direction: column;
	gap: var(--space-12);
}
@media (min-width: 768px) {
	.row {
		flex-direction: row;
	}
}

.col {
	flex: 1 0 0;
}

/* Header */
.header-top {
	background-color: var(--third-color);
	padding: var(--space-6) var(--space-14);
}

.header-main {
	align-items: center;
	background-color: var(--second-color);
	justify-content: space-between;
	padding: 31px var(--space-14);
}

.header-nav {
	gap: 20px;
	margin-left: var(--space-6);
}

.header-nav a {
	font-size: 0.875rem;
	line-height: 1.375rem;
	padding: var(--space-6) var(--space-9);
	text-decoration: none;
}

/* Form */
.content-modal {
	background-color: var(--light-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--space-10) var(--space-12);
}

.content-modal *,
::placeholder {
	color: var(--dark-text-color);
}

.field-group {
	background-color: var(--field-bg-color);;
	border-bottom: 2px solid var(--border-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	box-shadow: 0px 2px 4px -1px rgba(26,26,26,.08);
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}
.field-group:hover {
	border-bottom-color: var(--second-color);
	background-color: var(--field-hover-bg-color);
	cursor: pointer;
}

label {
	font-size: .75rem;
	line-height: 1rem;
}

select,
input {
	background-color: transparent;
	border: none;
}

select:focus,
input:focus {
	outline: none;
}
