/***********************
DEFINE CUSTOM PROPERTIES
************************/

:root {
	/* colors */
	--main-color: #247C86;
	--second-color: #007B67;
	--second-dark-color: #006252;
	--third-color: #37394B;
	--third-dark-color: #2E3040;
	--light-color: #fff;
	--main-text-color: #fff;
	--dark-text-color: #1A1A1A;
	--border-color: #E1E1E2;
	--field-bg-color: #FCFCFC;
	--field-hover-bg-color: #F4F4F5;
	/* font weights */
	--font-weight-book: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	/* sizing */
	--screen-sm: 576px;
	--screen-md: 768px;
	--screen-lg: 992px;
	--screen-xl: 1200px;
	--screen-xxl: 1400px;
	--space-4: 6px;
	--space-5: 9px;
	--space-6: 12px;
	--space-7: 15px;
	--space-8: 18px;
	--space-9: 20px;
	--space-10: 24px;
	--space-12: 30px;
	--space-14: 40px;
	--border-radius-small: 6px;
	--border-radius: 12px;
}

/******************
GLOBAL CSS RESETS
*******************/

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
	margin: 0;
}

/* Set core body defaults */
body {
	background-color: var(--main-color);
	color: var(--main-text-color);
	font-family: "Gibson", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.2;
}

/* Make headings normal font weight to allow for bold highlight */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/***********************
SIGN-UP PROTOTYPE STYLES
************************/

/* Helper classes */
.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.mr-auto {
	margin-right: auto;
}

.w-100 {
	width: 100%;
}

.text-center {
	text-align: center;
}

/* Typography */
strong {
	font-weight: var(--font-weight-semibold);
}

.text-light {
	font-weight: var(--font-weight-book);
}

/* Layout */
.container {
	margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--space-12) / 2);
	padding-right: calc(var(--space-12) / 2);
	width: 100%;
}
@media (min-width: 768px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.row {
	display: flex;
	flex-direction: column;
	gap: var(--space-12);
}
@media (min-width: 768px) {
	.row {
		flex-direction: row;
	}
}
@media (min-width: 1400px) {
	.row:first-child {
		padding-left: 109px;
	}
	.row:last-child {
		padding-right: 109px;
	}
}

.col {
	flex: 1 0 0;
}

/* Header */
.skip {
	color: var(--light-color);
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}
.skip:focus {
	position: static;
	height: auto;
	width: auto;
}

.header-top {
	background-color: var(--third-color);
	flex-wrap: wrap;
	gap: var(--space-4);
	padding: var(--space-6) var(--space-14);
}
@media (max-width: 991px) {
	.header-top {
		padding: calc(var(--space-12) / 2);
	}
}

.header-top__item {
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius);
	color: var(--light-color);
	font-size: 0.875rem;
	gap: var(--space-4);
	line-height: 1.375rem;
	padding: var(--space-4) var(--space-6);
	text-decoration: none;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}
.header-top__item--active,
.header-top__item:hover {
	background-color: var(--third-dark-color);
}

.header-main {
	align-items: center;
	background-color: var(--second-color);
	justify-content: space-between;
	padding: 31px var(--space-14);
}
@media (max-width: 991px) {
	.header-main {
		flex-direction: column;
		padding: calc(var(--space-12) / 2);
	}
}

.header-logo {
	flex-shrink: 0;
}
@media (max-width: 991px) {
	.header-logo {
		margin-bottom: calc(var(--space-12) / 2);
	}
}

.header-nav {
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-left: var(--space-6);
}

.header-nav__item {
	align-items: center;
	background-color: transparent;
	border: 1px solid white;
	border-color: transparent;
	border-radius: var(--border-radius);
	color: var(--light-color);
	font-size: 0.875rem;
	gap: var(--space-4);
	line-height: 1.375rem;
	padding: var(--space-6);
	text-decoration: none;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.header-nav__divider {
	background-color: var(--light-color);
	height: 24px;
	margin-left: -12px;
	opacity: .5;
	width: 1px;
}

.header-nav__item--active,
.header-nav__item:hover {
	background-color: var(--second-dark-color);
}

.header-nav__item--active {
	border-color: var(--light-color);
}
.header-nav__item--active:hover {
	/* allow border to appear to thicken without jump */
	box-shadow: inset 0px 0px 0px 1px #FFFFFF;
}

/* Main content area */
.main-content {
	background-image: url(../images/main-content-bg.svg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 80%;
	padding: calc(var(--space-12) / 2) 0;
}
@media (min-width: 768px) {
	.main-content {
		padding: var(--space-12) 0;
	}
}
@media (min-width: 992px) {
	.main-content {
		padding: calc(var(--space-12) * 2) 0;
	}
}
@media (min-width: 1200px) {
	.main-content {
		padding-bottom: 200px;
	}
}

/* Main text area */
.content-text {
	flex-direction: column;
	gap: var(--space-10);
}
@media (min-width: 992px) {
	.content-text {
		width: 90%;
	}
}

.content-text h1,
.content-text p {
	line-height: 1.2;
}

.content-text h1 {
	font-size: 3.375rem;
	line-height: 1;
}

.content-text p {
	font-size: 1.25rem;
}

.content-text ul {
	list-style-type: none;
	padding-left: 0;
}

.content-text li {
	font-size: 1.125rem;
	padding-left: calc(var(--space-12) * 1.5);
	position: relative;
}
@media (min-width: 992px) {
	.content-text li {
		padding-left: calc(var(--space-12) * 1.75);
	}
}

.content-text li:not(:last-child) {
	margin-bottom: var(--space-12);
}

.content-text li::before {
	background-image: url(../images/icon-tick.svg);
	background-size: 30px;
	content: '';
	height: 30px;
	left: 0;
	position: absolute;
	top: -2px;
	width: 30px;
}

/* Form */
.content-modal {
	background-color: var(--light-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	flex-direction: column;
	gap: var(--space-9);
	padding: var(--space-10) var(--space-12);
}

.content-modal *,
::placeholder {
	color: var(--dark-text-color);
}

.content-modal__form {
	flex-direction: column;
	gap: var(--space-9);
}

.field-group {
	position: relative;
}

.field-group:has(label) input,
.field-group:has(label) select {
	background-color: var(--field-bg-color);;
	border-bottom: 2px solid var(--border-color);
	border-radius: 0;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	box-shadow: 0px 2px 4px -1px rgba(26,26,26,.08);
	padding: var(--space-12) var(--space-6) var(--space-4);
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.field-group:has(label) input:hover,
.field-group:has(label) input:focus,
.field-group:has(label) select:hover,
.field-group:has(label) select:focus {
	border-bottom-color: var(--second-color);
	background-color: var(--field-hover-bg-color);
	cursor: pointer;
}

.field-group:has(label) input:hover,
.field-group:has(label) input:focus,
.field-group:has(label) select:hover,
.field-group:has(label) select:focus {
	border-bottom-color: var(--second-color);
	background-color: var(--field-hover-bg-color);
	cursor: pointer;
}

label {
	font-size: .75rem;
	left: var(--space-6);
	line-height: 1rem;
	margin-bottom: var(--space-4);
	position: absolute;
	top: var(--space-4);
}

select,
input {
	background-color: transparent;
	box-shadow: none;
	border: none;
}

select {
	appearance: none;
	background-image: url(../images/icon-dropdown-arrow.svg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
	padding-right: 25px;
}

select:focus,
input:focus {
	outline: none;
}

button[type=submit] {
	background-color: var(--second-color);
	border: none;
	border-radius: var(--border-radius);
	color: var(--light-color);
	font-size: 1.125rem;
	margin-top: var(--space-6);
	padding: var(--space-6);
	transition: background-color .2s ease-in-out;
}
button[type=submit]:hover {
	background-color: var(--second-dark-color);
	cursor: pointer;
}

.content-modal__form p {
	font-size: 1.125rem;
}

.content-modal__form p a,
.content-modal__form p strong {
	color: var(--second-color);
}
